@CHARSET "ISO-8859-1";

footer{
	background: blue;
	
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
p{
	font-size: 1.25em;
	line-height: 1.6;
	color: white;
	
}
footer p {
	margin: 0;
	padding: 20px 0;
}